.header {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px black; */
}

.logo {
  width: 100px;
  height: 50px;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}

.nav-items {
  padding: 0px 20px;
  cursor: pointer;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.nav-items > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.nav-items > ul > li > a:hover {
  color: rgb(216, 102, 9);
  cursor: pointer;
}

.login {
  background: white;
  border: 0px;
  cursor: pointer;
  padding: 0 20px;
  font-size: large;
}

.login:hover {
  color: rgb(216, 102, 9);
}

.login:hover {
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-link {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.restaurant-card {
  height: 286px;
  width: 274px;
  padding: 0px 16px;
  margin: 20px 0px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.restaurant-card:hover {
  /* border: solid 1px rgb(0, 162, 255);
  box-shadow: 0px 0px 10px rgba(30, 44, 150, 1); */
  cursor: pointer;
  transform: scale(0.9);
}

.restaurant-logo {
  width: 290;
  height: 190px;
  border-radius: 5px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  font-size: large;
}

.name {
  font-weight: bold;
}

.row1 > * {
  display: inline;
}
.rating-icon {
  padding-top: 10px;
  vertical-align: bottom;
}
.rating-score {
  margin: 2px 0px 0px 2px;
}
.time {
  font-weight: 500;
  margin: 2px;
}

.cuisine {
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
}

.location {
  width: 50%;
}

.cost {
  width: 50%;
  text-align: right;
}

.row2 {
  color: rgba(2, 6, 12, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  column-gap: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background: #eef5fe;
}

.wrapper .dot {
  height: 50px;
  width: 50px;
  background: rgb(244, 102, 41);
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation: animate 1s ease-in-out infinite alternate;
}

.dot:nth-child(1) {
  animation-delay: -0.25s;
}
.dot:nth-child(2) {
  background-color: aqua;
  animation-delay: -0.5s;
}
.dot:nth-child(3) {
  background-color: rgb(85, 224, 131);
  animation-delay: -0.75s;
}
.dot:nth-child(4) {
  background-color: rgb(222, 95, 213);
  animation-delay: -1s;
}

@keyframes animate {
  0% {
    transform: translateY(-10);
  }
  100% {
    transform: translateY(10px);
  }
}

.body {
  margin: 0;
  padding: 0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 10px;
  background: #ebecee;
  height: 280px;
  width: 270px;
}

.chipContainer {
  margin: 5px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
}

.chip {
  /* gap: 10px; */
  padding: 10px;
  background: #d7dce2;
  border-radius: 20px;
  margin: 5px;
  display: inline;
}

.chipClear {
  border: none;
  color: red;
  background: transparent;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}

/* About Secion */
.aboutImage {
  border-radius: 50%;
  height: 100px;
  weight: 100px;
}

.online {
  margin: 5px 0;
  padding: 0;
  height: 10px;
  background-color: green;
  width: 10px;
  border: 2px solid green;
  border-radius: 50%;
  /* display: inline; */
}

.offline {
  margin: 5px 0;
  padding: 0;
  height: 10px;
  background-color: red;
  width: 20px;
  border: 2px solid red;
  border-radius: 50%;
  /* display: inline; */
}

/* .status {
  height: 30px;
  width: 10px;
} */
